body {
    background-image: url(/images/pugetsound-uscs-1859.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul, .highlight {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.2em;
}

ol, ul { 
    color: #333;
    font-size: 1.2rem;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.7em;
}

.highlight {
    margin: auto;
    background-color: WhiteSmoke;
    width: 600px;
    border: 4px solid Black;
}
