---
layout: default
title: Puget Sound QGIS User Group
---

<div class="blurb">
	<center>
		<h1>Puget Sound QGIS User Group</h1>
	</center>
	
    <div class="highlight">
        <center>
        <h2> Scheduled Events:</h2>
        {% for post in site.posts %}
            {% if post.schedule >= site.time %}
                <a href="{{ post.url }}"title="{{ post.title }}">{{ post.title }}</a><br />
            {% endif %}
          {% endfor %}
          <br />&nbsp;
        </center>
    </div>


	<p>This is a group for folks interested in <a href="http://www.qgis.org/en/site/">QGIS</a>, the free, open-source Geographic
	   Information System software. We are located in the Puget Sound Region of Washington
	   State.
	</p>
	<p>All skill levels are welcome! We meet monthly to share topics of interest.
	   Usually on the second Tuesday of the month. Bring your questions, or share examples of what you've been able to accomplish with the rest of the group.
	   The idea is to learn more about this very capable mapping and analysis package.
	</p>
	<p>Check out our <a href="/blog">blog</a> for meeting announcements, notes from previous meetings, and other items of interest.
	</p>
	<p>Currently our <a href="http://www.meetup.com/Puget-Sound-QGIS-Users-Group/">meetup.com group</a> is maxed for our subscription level at 50 people. We are in the process of migrating to <a href="https://groups.google.com/forum/#!forum/psqgis">Google Groups</a> to accommodate more members.
	</p>
</div><!-- /.blurb -->


