---
layout: default
title: PSQGIS Minutes
---

<h1>{{ page.title }}</h1>
{% assign items = site.minutes | sort: 'date' | reverse %}

<section class="archive-post-list">

  <div class="tab">
   {% for minute in items %}
       {% assign currentDate = minute.date | date: "%Y" %}
       {% if currentDate != myDate %}
        <button class="tablinks" onclick="myShow(event, 'y{{currentDate}}')">{{currentDate}}</button>
          {% assign myDate = currentDate %}
       {% endif %}
   {% endfor %}
  </div>


{% for minute in items %}
  {% assign currentDate = minute.date | date: "%Y" %}
  {% if currentDate != myDate %}
    {% unless forloop.first %}</ul></div>{% endunless %}
    <div id="y{{currentDate}}" class="tabcontent">
      <ul>
      {% assign myDate = currentDate %}
  {% endif %}
  <h2 id="{{minute.title}}" class="res_title"><a href="{{ minute.url }}">{{ minute.title }}</a></h2>
  {{minute.excerpt}}
  {% if forloop.last %}</ul></div>{% endif %}
{% endfor %}

</section>

<script>
	function myShow(evt, year) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(year).style.display = "block";
    evt.currentTarget.className += " active";
}
  myShow(event, 'y{{2019}}')

</script>
