<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="UTF-8">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/hide.css">
		</head>
		<body>
			<center>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/resources.html">Resources</a></li>
		        	<li><a href="/about.html">About</a></li>
	    		</ul>
	    		<ul>
	    			<li><a href="https://www.meetup.com/Puget-Sound-QGIS-Users-Group">Meetup</a>
	        		<li><a href="https://groups.google.com/forum/?hl=en#!forum/psqgis">Google Groups</a>
	    		</ul>
			</nav>
			</center>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<center>
	    		<ul>
	        	
	        		<li><a href="https://github.com/psqgis">github.com/psqgis</a></li>
	        		<li><a href="/blog/atom.xml">RSS Feed</a></li>
	        		<li>Site updated {{ site.time | date_to_string }}</li>
				</ul>
				</center>
			</footer>
		</body>
	</html>
